body{
    margin: 0px;
    padding: 0px;
    background: #0BC38E;
}
.contenedor{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}
.logo{
    width: 100%;
    float: left;
}
.izquierdo{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}
.derecho {
    float: right;
    height: 574px;
    width: 285px;
    border-radius: 24px;
    background: #19C3CB;
}
.botones{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
.logoimg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;

}
.texto{
    float: inherit;
    margin-left: 15%;

}
.cajatexto{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0a3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #0BC38Efc;
}
#imagender {
    margin-left: 8%;
    margin-top: 10%;
    width: 80%;
    height: auto

}
#texto1{
    margin-left: 7%;
    margin-right: 5%;

}
#texto2 {
    float: left;
    margin-left: 7%;
    color: #0a3871;
    width: 88%;
    height: 34%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #19C3CB;
}
#btn-encriptar{
    padding: 24px;
    width: 270px;
    height: 60%;
    border-radius: 24px;
    margin-left: 2%;
    background: #0a3871;
    color: white;
}
#btn-desencriptar{
    padding: 24px;
    width: 270px;
    height: 60%;
    border-radius: 24px;
    margin-left: 8%;
    background: #d8dfeb;
}
#copiar{
    margin-left: 22%;
    margin-top: 172%;
    padding: 24px;
    width: 59%;
    height: 10%;
    background: #d8dfeb ;
    border-radius: 24px;
    display: none;
}
.footer{
    width: 100%;
    background: indianred;
    color: saddlebrown;
  }